*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
  width: 100%;
  height: 100vh;
  background: silver;
}


.card-container{
  width: 100%;
  padding: 20px 5%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: center;
  gap: 1.5em;
  background: rgb(0, 0, 0);
  margin-top: 50px;
}

.card-container .card{
  width: 100%;
  height: 200px;
  border: 1px solid silver;
  border-radius: 5px;
  display: grid;
  place-content: center;
  font-weight: 550;
  font-size: 30px;
}

.card-container .card:nth-child(even){
  background: rgb(93, 51, 69);
}

.card-container .card:nth-child(odd){
  background: rgb(85, 66, 177);
}


.loader-container{
  width: 100%;
  height: calc(100vh - 200px);
  display: grid;
  place-content: center;
}

.loader-container .box{
  width: 120px;
  height: 120px;
  border-radius: 20% 35%;
  background: linear-gradient( 120deg, rgb(83, 187, 228), green,rgb(197, 14, 44), rgb(83, 63, 63), yellow, blue
  );
}


.page1,
.page2{
  width: 100%;
  height: 100vh;
  background: rgb(30, 78, 123);
  display: grid;
  place-content: center;
}

.page1 .box1{
  width: 100px;
  height: 100px;
  background: rgb(0, 0, 0);
  margin: 1em;
}