*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(to bottom, rgb(116, 204, 68), rgb(164, 218, 99));
    display: grid;
    place-content: center;
}

.container{
    width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.title{
    margin-bottom: 15px;
}

.input-field{
    width: 100%;
    margin: 20px 0;
    border: 2px solid #ddd;
    border-radius: 7px;
    display: flex;
}

.input-field:focus-within{
    border-color: black;
}

.input-field input{
    width: 75%;
    padding: 10px;
    border: none;
    outline: none;
}

.input-field button{
    width: 25%;
    border: none;
    background: rgb(208, 88, 36);
    cursor: pointer;
}

.information{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.field:nth-child(even){
    width: 48%;
    background: rgb(215, 117, 218);
    padding: 10px;
    border-radius: 4px;
}

.field:nth-child(odd){
    width: 48%;
    background: rgb(115, 188, 212);
    padding: 10px;
    border-radius: 4px;
}

.field label{
    font-weight: 600;
    font-size: 14px;
}