* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


body {
    height: 100vh;
    width: 100%;
    background: rgb(217, 173, 173);
}


.header {
    width: 100%;
    height: 70px;
    background: rgb(182, 231, 155);
    border: 1px solid rgb(163, 160, 160);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 5%;
    cursor: pointer;
}

.header h2 {
    font-size: 20px;
}

.header i {
    font-size: 22px;
}

.menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    background: rgb(239, 137, 137);
    border-left: 2px solid silver;
    padding: 10% 3%;
}


.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 12px;
    border-bottom: 1px solid rgb(185, 178, 178);
}

.menu-header h2 {
    font-size: 18px;
}

.menu-header i {
    font-size: 22px;
    cursor: pointer;
}


.nav-links {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.nav-links a {
    text-decoration: none;
    color: rgb(218, 198, 198);
    font-weight: 520;
    font-size: 16px;
}

.nav-links button {
    width: 100%;
    padding: 10px;
    margin-top: 30px;
    border: none;
    border-radius: 8px;
    background: linear-gradient(90deg, #6cc869, #31c236);
    font-size: 16px;
    cursor: pointer;
}