*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(210deg, #d89c9c, #eee);
}

.container1{
    width: 100%;
    height: 100vh;
    padding: 10vw 5vw;
    background: linear-gradient(210deg, rgb(125, 102, 177), rgb(205, 50, 120), rgb(238, 204, 170), brown);
}

.container1 h1{
    font-size: 15vw;
    text-wrap: nowrap;
}

.container2{
    width: 500vw;
    height: 100vh;
    display: flex;
}

.container2 .panel{
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
    font-size: 4em;
    font-weight: 500;
}

.container2 .panel.panel1{
    background: blue;
    color: white;
}

.container2 .panel.panel2{
    background: yellow;
    color: rgb(0, 0, 0);
}

.container2 .panel.panel3{
    background: greenyellow;
    color: rgb(0, 0, 0);
}

.container2 .panel.panel4{
    background: hotpink;
    color: black;
}

.container2 .panel.panel5{
    background: black;
    color: white;
}