*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


}
:root{
    --bg:#0a0a0a;
    --accent:#6366f1;
    --card-bg:#16161a;
    border: #2d2d35;
}

body{
    width: 100%;
    height: 100vh;
    background: linear-gradient(#111,var(--bg));
    color: #e5e7eb;
}



.parallox-icon{
    position:fixed;
    top:35%;
    left:10%;
    width: 85px;
    z-index: 100;
    filter: drop-shadow(0 0 25px lightblue);
    
}

section{
    width: 100%;
    height: 100vh;
    display: grid;
    place-content: center;
    padding: 0 8%;
    text-align: center;

}
.hero h1{
    font-size: 9vw;
    margin-bottom: 20px;
    background: linear-gradient(120deg,#fff,var(--accent));
    color: transparent;
    background-clip: text;
}
.card-section{
    background: linear-gradient(to bottom,transparent,var(--bg));
}


.card-section .card-container{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,300px);
    gap: 2rem;

}
.card-section .card-container .card{
    width: 100%;
    background: var(--card-bg);
    border-radius: 20px;
    border: 1px solid var(--border);
    padding: 2rem;
   transition: all ease-in 0.2s;
}

.card-section .card-container .card:hover{
    transform: translateY(-8px);
    box-shadow: 0 13px 60px var(--accent);
}

.card-section .card-container .card h3{
    color: var(--accent);
    margin-bottom: 4rem;


}