*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
}
.header{
    width : 100%;
    height: 80px;
    background: rgb(208, 193, 193);
    box-shadow: 0 0 8px grey;
    display: flex;
    align-items: center;
    justify-content:  space-between;
    padding: 0 5%;

}
.header h2{
    color:rgb(0, 0, 0);
}
.header .Links{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 50px;
}
.header .Links a{
    text-decoration: none;
    font-size: 14px;
    color: black;
    font-weight: 520;
    
}
.header .Links a:hover{
    color: rgb(206, 114, 141);
}
.header .Links button{
    padding: 8px 20px;
    border: 2px solid  #333;
    color:black;
    border-radius: 5px;
    cursor: pointer;
    background-color: white;
}
.homepage {
    width: 100%;
    height: 500px;
    padding: 0 5%;
    margin-top: 50px;
    display: flex;
    align-items: start;
    justify-content: center;
    gap: 2em;
}
.homepage img{
    width: 50%;
    height: 60%;
    padding: 0.5px;
    border-radius: 10px;
    display: flex;
    border-radius: 5%;
    align-items: start;
    justify-content: center;
 }
.homepage .content h2{
    background: #9390d0;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgb(96, 167, 117) 35%, rgba(0, 212, 255, 1) 100%);
    color: transparent;
    background-clip: text;
    margin-top: 20px;
}
.homepage .content h3{
    background: #240024;
    background: linear-gradient(90deg, rgba(36, 0, 36, 1) 0%, rgb(176, 198, 137) 35%, rgba(0, 212, 255, 1) 100%);
    color: transparent;
    background-clip: text;
    margin-top: 20px;
}
.homepage .content p{
    font-size: 14px;
    font-weight: 450;
    line-height: 25px;
    margin-top: 15px;
    text-align: justify;
    color: #333;
}
.about-us{
    width: 100%;
    height: 80vh;
    padding: 0 5%;
    margin-top: 0%;
}
.about-us h2{
    background: #020024;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
    color: transparent;
    background-clip: text;
    margin-top: 0px;
    gap: 0.5em;
}

.about-us .card-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    gap: 2em;
}
.about-us .card-container .card{
    width: 30%;
    box-sizing: border-box;
    gap: 2em;
    overflow: hidden;
    background: rgb(128, 110, 110);
    border-radius: 10px;
    
}
.about-us .card-container .card h2{
    font-size: 20px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
}
.about-us .card-container .card img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.about-us .card-container .card p{
    padding: 0 4%;
    font-size: 14px;
    font-weight: 450;
    line-height: 25px;
    text-align: justify;
    color: #c29393;
}